
.main{
    min-width: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px;
    padding: 2px;
    height: 600px;
    align-content: space-between;
    box-shadow: 0px 20px 50px #139d8c, 0px 10px 40px #e400ff;
    background: url("pattern.png");
}

.button{
    cursor: pointer;
    border: #c146d3 5px solid;
    width: 200px;
    height: 60px;
    
}

.questions{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    text-align: center;
    width: 370px;
    
    
}
.big{
    
    display: flex;
    flex-direction: row;
    
    
}
.accord{
    margin: 25px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 20px 50px #139d8c, 0px 10px 40px #e400ff
    
}